/* 上部のテキストを中央に表示させる */
#text-area {
    text-align:center;
    font-size: 20px;
}

/* 現在の気温表示を赤色にする */
#temperature-value {
    color: red;
}

/* グラフを中央に表示させる */
#temperature-praph {
    text-align: center;
}

/* スマートフォンでの表示時のグラフのサイズ設定 */
@media only screen and (max-width: 750px) {
    #graph_img {
        width: 90%;
        height: auto;
    }
}